DAY 2
Assignment 1

In [5]:
#defining string in python.
str1 = 'Try 5 functions of string in python'
print(str1)

Try 5 functions of string in python

In [6]:
#print the first character from the string.
print('str1[0]', str1[0])

str1[0] T

In [7]:
#slicing 6th to 14th charater.
print('str1[6:15]' , str1[6:15])

str1[6:15] functions

In [9]:
#Concatanation of two strings
str2 = 'and submit the assignment by saturday'
print(str1 + " " + str2)

Try 5 functions of string in python and submit the assignment by saturday

In [10]:
str1[4]

'5'

In [15]:

    str1.index("y")

2

Assignment 2

In [2]:
#declaring list in python
lst_grocery = ['rice','cornflakes','cereals','pulses','flour']
print(lst_grocery)

['rice', 'cornflakes', 'cereals', 'pulses', 'flour']

In [8]:
#printing items in next line
lst_grocery = ['rice','cornflakes','cereals','pulses','flour']
print(*lst_grocery , sep ="\n")

rice
cornflakes
cereals
pulses
flour

In [9]:
#adding elements to list
lst_grocery.append("sugar and salt")

In [10]:
lst_grocery

['rice', 'cornflakes', 'cereals', 'pulses', 'flour', 'sugar and salt']

In [11]:
lst_grocery[3]

'pulses'

In [14]:
lst_grocery.insert(0, 'maggie')

In [15]:
lst_grocery

['maggie',
 'rice',
 'cornflakes',
 'cereals',
 'pulses',
 'flour',
 'sugar and salt']

In [17]:
#sublist
lst_grocery = ['maggie','rice','cornflakes','cereals','pulses',['biscuits','chocolocates', 'chips'],'flour','sugar and salt']
print(lst_grocery)

['maggie', 'rice', 'cornflakes', 'cereals', 'pulses', ['biscuits', 'chocolocates', 'chips'], 'flour', 'sugar and salt']

In [19]:
lst_grocery[5]

['biscuits', 'chocolocates', 'chips']

In [20]:
lst_grocery[5][1]

'chocolocates'

Assignment 3

In [31]:
dit_alphabet = {"A":"Apple","B":"Ball","C":"Cat"}

In [32]:
dit_alphabet

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [33]:
dit_alphabet["B"]

'Ball'

In [34]:
#subdict
subdit = {"Alphabet":{"A":"apple","B":"Ball"}}

In [36]:
subdit.get("Alphabet").get("B")

'Ball'

In [46]:
#updating dict
dit_alphabet = {"A":"Apple","B":"Ball","C":"Cat"}
dit_alphabet.update({"B":"Bus"})
print(dit_alphabet)

{'A': 'Apple', 'B': 'Bus', 'C': 'Cat'}